body {
    background-image: url('bg.jpg');
    background-color: #9c0e0e;
}
h1 {
    text-align: center;
    padding-top: 3%;
    color: black;
}
p, label {
    text-align: center;
    padding-top: 1%;
    color: black;
}
a {
    color: green;
    text-decoration: none;
    font-size: x-large;
    font-weight: 500;
}
img {
    width: 100px;
    height: 150px;
    margin: 10px;
    padding: 10px;
}
ol {
    color: black;
}
input[type=text], select {
    text-align: center;
    width: 25%;
    padding: 10px 10px;
    margin: 5px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

.container, .wrapper {
    padding-top: 1%;
    text-align: center;
}
.button {
    position: absolute;
    top: 50%;
}

.highLight:hover {
    opacity: 0.5;
}
